* { 
	font-family: Georgia, 
	Serif, 

}

* h1 {
	font-family: Georgia,
	Serif,
	text-transform: uppercase;
}

.red-text {
	color: red;
}

.blue-text {
	color: blue;
}

* footer {
	color: gray;
	font-style: italic;
}

* figcaption {
	color: gray;
}

